doctype
html
  head
    title #{title} - Crs4
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/vendor/jquery.js")
    script(src="/javascripts/vendor/foundation.js")

    script(src="/javascripts/app.js")
  body
    header
      h1 #{section}
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p CRS4 - CMC Histories
